{% extends "verifier/base.html" %}
{% load staticfiles %}

{% block title %}
    Credentials
{% endblock %}

{% block includes %}

{% endblock %}

{% block body %}


    <h2>Available Reddit credentials
        <a href="/data/credentials/new" class="btn btn-success">Add</a>
    </h2>
    <div class="panel-body">
        <ul class="list-group">
            {% for credentials in object_list %}
                <li class="list-group-item">
                    {{ credentials.reddit_username }}
                    <a href="/data/credentials/{{ credentials.id }}" class="btn">Edit</a>
                    {#                        <a href="#" class="btn" disabled>View Subreddits</a>#}
                    <a href="#" class="btn btn-danger" disabled>Delete</a>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}