{% extends "verifier/base.html" %}
{% load staticfiles %}

{% block title %}
    User Types
{% endblock %}

{% block includes %}

{% endblock %}

{% block body %}


    <h2>User Types
        <a href="/data/usertypes/new" class="btn btn-success">Add</a>
    </h2>
    <div class="panel-body">
        <ul class="list-group">
            {% for usertype in object_list %}
                <li class="list-group-item">
                    {{ usertype.name }}
                    <a href="/data/usertypes/{{ usertype.id }}" class="btn">Edit</a>
                    <a href="/data/usertypes/{{ usertype.id }}/subreddits" class="btn">Manage flair</a>
                    <a href="#" class="btn btn-danger" disabled>Delete</a>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}