{% extends "verifier/base.html" %}
{% load staticfiles  %}

{% block title %}
Verification
{% endblock %}

{% block includes %}
    <link rel="stylesheet" href="{% static 'verifier/verify.css' %}"/>
    <script src="{% static 'verifier/verify.js' %}"></script>
{% endblock %}

{% load crispy_forms_tags %}
{% block body %}
    {% crispy form %}
    {% if verification_success %}
        <div id="verificationSuccessAlert" class="alert alert-success" role="alert">User {{ verified_user }} successfully verified!</div>
    {% endif %}
{% endblock %}